$main-size: 22em;

.container {
  display: flex;
  background-color: #efefef;
  padding: 0;
  width: $main-size;
  height: $main-size;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: calc(#{$main-size} / 2);
}

// .content {
//   background-color: #282c34;
//   min-height: 40vh;
//   min-width: 40vh;
//   border-radius: calc(40vh / 2);
//   padding: 0;
//   margin: 0;
// }

// .circle {
//   background-color: #282c34;
//   width: 500px;
//   height: 500px;
//   line-height: 500px;
//   border-radius: 50%;
//   font-size: 50px;
//   color: #fff;
//   text-align: center;
//   background: #000;
// }

// .text p {
//   font-size: 21px;
//   font-style: italic;
//   height: 100%;
//   line-height: 1.25;
//   padding: 0;
//   text-align: center;
//   text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
// }

// .text p::before {
//   content: "";
//   float: right;
//   height: 100%;
//   width: 50%;
//   shape-outside: polygon(
//     2% 0%,
//     100% 0%,
//     100% 100%,
//     2% 100%,
//     50% 94%,
//     76.6% 82.7%,
//     94% 65.6%,
//     100% 50%,
//     94% 32.6%,
//     76.6% 17.3%,
//     50% 6%
//   );
//   shape-margin: 7%;
// }

@mixin on-circle($item-count, $circle-size, $item-size) {
  position: relative;
  width: $circle-size;
  height: $circle-size;
  padding: 0;
  margin: 0 auto;

  > * {
    display: block;
    position: absolute;
    background-color: red;
    top: ($circle-size / 2) - ($item-size / 2);
    left: ($circle-size / 2) - ($item-size / 2);
    width: $item-size;
    height: $item-size;
    margin: 0px;
    padding: 0px;
    text-align: center;

    $initial_angle: 270deg;
    $angle: (360 / $item-count);

    $actual_angle: $initial_angle;

    @for $i from 1 through ($item-count) {
      &:nth-of-type(#{$i}) {
        transform: rotate($actual_angle)
          translate($circle-size / 2)
          rotate($actual_angle * -1);
      }

      $actual_angle: $initial_angle + ($angle * $i * 1deg);
    }
  }
}

@mixin in-circle($item-count, $circle-size, $item-size) {
  position: absolute;
  width: $circle-size;
  height: $circle-size;
  padding: 0;
  margin: 0 auto;

  > * {
    display: block;
    position: absolute;
    background-color: red;
    top: ($circle-size / 2) + ($item-size / ($item-count / 2));
    left: ($circle-size / 2) - ($item-size / 2);
    width: $item-size;
    height: $item-size;
    margin: 0px;
    padding: 0px;
    text-align: center;

    $initial_angle: 270deg;
    $angle: (360 / $item-count);

    $actual_angle: $initial_angle;

    @for $i from 1 through ($item-count) {
      &:nth-of-type(#{$i}) {
        transform: rotate($actual_angle)
          translate($circle-size / 2)
          rotate($actual_angle * -1);
      }

      $actual_angle: $initial_angle + ($angle * $i * 1deg);
    }
  }
}

.main-indicator-circle-container {
  @include on-circle($item-count: 12, $circle-size: 20em, $item-size: 1.5em);
  margin: auto 0;
}

.sub-indicator-circle-container {
  @include in-circle(
    $item-count: 60,
    $circle-size: $main-size - 1.8em,
    $item-size: 0.5em
  );
}
